:root {
  --top-spacing: 90px;
}

html {
  /* ヘッダーが固定のときに位置調整してくれる便利なやつ */
  /* scroll-padding-top: var(--top-spacing); */
}

body {
  @apply bg-gray-800;
}

main {
  /* margin: var(--top-spacing) 0 0; */
}

.main {
  transition: transform var(--animation-second);
  &::after {
    content: '';
    display: block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    transition: background-color var(--animation-second),
      backdrop-filter var(--animation-second);
    transform: translateY(-100%);
  }
  &.is-translated {
    height: 100vh;
    overflow-y: hidden;
    transform: translateX(-80%);
    &::after {
      visibility: visible;
      background-color: rgba(#000, 0.8);
      backdrop-filter: blur(2px);
      transform: translateY(0);
    }
    @media screen and (min-width: 600px) {
      transform: translateX(-30%);
    }
  }
}

header {
}
